:root{
    --moving-page-time: 2s;
}


@keyframes goToRightPageNew{
    from {transform: translate(100vw);}
    to {transform: translate(0vw);}
}
@keyframes goToLeftPageNew{
    0%{transform: translate(-100vw);}
    100%{transform: translate(0vw);}
}






.move-page-right-old{
    transition-duration: var(--moving-page-time);
    transform: translate(-100vw);
}
.move-page-right-new{
    animation-duration: var(--moving-page-time);
    animation-name: goToRightPageNew;
}


.move-page-left-old{
    transition-duration: var(--moving-page-time);
    transform: translate(100vw);
}
.move-page-left-new{
    animation-duration: var(--moving-page-time);
    animation-name: goToLeftPageNew;
}


















.move-right{
    transition-duration: 0.5s;
}
.move-left{
    transition-duration: 0.5s;
}
.hovering-element:hover{
    transition-duration: 0.5s;
    transform: scale(120%);
}
.move-left:active{
    transition-duration: 0s;
    color: rgb(165, 165, 165);
}
.move-right:active{
    transition-duration: 0s;
    color: rgb(165, 165, 165);
}