/*--------------Page Change---------------------*/
body{
    display: relative;
    overflow: hidden;
}
/*---------------------Section 1----------------------*/
section[name = 'page-1']{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
}

.logos-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.logos-container ion-icon{
    font-size: 100px;
}

.whatsapp-logo{
    display: flex;
    width: 100px;
    height: 100px;
}
.figma-logo{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.google-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

/*-----------Section 2------------*/
section[name = 'page-2']{
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-direction-container{
    width: 80%;
    height: 50%;
    position: relative;
}
.event-direction-children{
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 3px white;

}
.children-1{
    transition-duration: 0.6s;
    left: 0%;
    width: 18.5%;
    height: 100%;
}
.children-2{
    width: 100%;
    height: 100%;
    transform: translate(110%);
    transition-duration: 0.6s;
}
.children-3{
    width: 100%;
    height: 100%;
    transform: translate(110%);
    transition-duration: 0.6s;
}
.children-4{
    width: 100%;
    height: 100%;
    transform: translate(110%);
    transition-duration: 0.6s;
}
.children-5{
    width: 100%;
    height: 100%;
    transform: translate(110%);
    transition-duration: 0.6s;
}
.capturing-phase-container{
    margin-bottom: 40px;
    font-size: 25px;
    transition-duration: 0.6s;
}
.bubbling-phase-container{
    margin-top: 40px;
    font-size: 25px;
    transition-duration: 0.6s;
}
section[name = 'page-2'] ion-icon{
    transform: translate(0,15%);
}

/*--------------Section 3 -------------*/
section[name = 'page-3']{
    width: 100%;
    height: 100vh;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-3-title{
    font-size: 40px;
    margin-bottom: 40px;
}
.page-3-container{
    background-color: white;
    height: 50%;
    width: 80%;
    display: grid;
    box-sizing: border-box;
    border: solid 3px white;
    grid-template-columns:  repeat(15, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2px;
    transition-duration: 0.3s;
}
.page-3-inner-divs{
    transition-duration: 0.3s;
    background-color: #042a3c;
}
.page-3-container p{
    font-size: 30px;

}




















.change-section-buttons{
    position: absolute;
    bottom: 30px;
    right: 100px;
    z-index: 999;
}
.change-section-buttons>ion-icon{
    font-size: 30px;
}
.change-whatsapp-color{
    color: #48C856;
}



.hidden{
    display: none !important;
}
.lock-event{
    pointer-events: none;
}